<?xml version="1.0" encoding="utf-8"?>
<!--
SPDX-FileCopyrightText: 2022 ALAD SRL <info@alad.cloud>

SPDX-License-Identifier: MIT
-->
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="alad" value="https://nuget.pkg.github.com/alad00/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="alad">
      <package pattern="Alad.*" />
    </packageSource>
  </packageSourceMapping>
  <packageSourceCredentials>
    <alad>
      <add key="Username" value="%ALAD_NUGET_USERNAME%" />
      <add key="ClearTextPassword" value="%ALAD_NUGET_PASSWORD%" />
    </alad>
  </packageSourceCredentials>
</configuration>
